*{
    font-family: monospace;
}
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 10px; */
    padding-right: 40px;
}
#nav-bar img{
    height: 100px;
    width: 250px;
}

#cart-products {
    height: 50px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#cart-products a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
#cart-products a span{
   color: rgb(20, 20, 133);
   border-bottom: 3px rgb(20, 20, 133) solid;
}

#items-div{
    height: 350px;
    width: 300px;
    background-color: blue;
    display: flex;
    
    flex-direction: column ;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


#items-img{
    /* background-color: yellow; */
    height: 75%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#items-img img {
    height: 100%;
    width: auto;
    object-fit:fill; /* Ensures full image is shown without distortion */
    display: block;
}

#items-details{
    height: 25%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}
#items-price{
    padding-left: 15px;
    font-size: 1.2rem;
}
#add-to-cart{
    padding-right: 25px;
    font-size: 1.8rem;
}
#add-to-cart a{
    text-decoration: none;
    height: 27px;
    width: 30px;
    background-color: #f0f0f0;
    display: inline-block; /* <-- Add this */
    text-align: center;
    color: black;
    
    
}
#shopping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh; 
    margin-top: 20px;
    
}
#dash-board{
    background-color: #f0f0f0;
    height: 100%;
    width: 15%;
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    font-size: 1.2rem;
    box-shadow: 8px 0 8px -4px rgba(0, 0, 0, 0.6);
   
}
#product-show{
    /* background-color: bisque; */
    height: 100%;
    width: 80%;
    /* padding-left: 10px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 10px; /* space between items */
    
}