
#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cart-products {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#cart-products i {
    font-size: 20px; /* or any size you want */
}
#items-div{
    height: 350px;
    width: 300px;
    background-color: blue;
    display: flex;
    
    flex-direction: column ;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


#items-img{
    /* background-color: yellow; */
    height: 75%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#items-img img {
    height: 100%;
    width: auto;
    object-fit:fill; /* Ensures full image is shown without distortion */
    display: block;
}

#items-details{
    height: 25%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
}
#items-price{
    padding-left: 15px;
}
#add-to-cart{
    padding-right: 15px;
}
#shopping{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
}
#dash-board{
    background-color: aqua;
    height: 100%;
    width: 20%;
    padding: 10px;
   
}
#product-show{
    background-color: bisque;
    height: 100%;
    width: 80%;
    /* padding-left: 10px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 items per row */
    gap: 20px; /* space between items */
    padding: 20px;
}